html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:-webkit-any-link {
  cursor: url(img/cursor.svg) 4 12, auto;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  font-family: Montserrat;
  color: #131313;
  line-height: normal;
  background-color: #84A178;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 20px;
  margin-bottom: 15px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-icon {
  fill: #f8d24e;
}

.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header-menu-icon-btn {
  fill: #ffffff;
}

.header-nav {
  display: none;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.button-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-header {
    display: flex;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background: #f8d24e;
    padding: 12px 36px 12px 36px;
  }
  .header-menu-btn {
    margin-right: -451px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
  .header-menu-btn {
    display: none;
  }
  .header-menu-icon {
    width: 60px;
    height: 65px;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
    justify-content: center;
  }
  .header-item {
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
  }
  .header-item:hover {
    color: #f8d24e;
  }
}
.products {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 25px;
  padding-bottom: 100px;
}

.products-bg {
  background-image: url(../img/cream-ground.jpg);
}

.banner .container {
  margin-top: 50px;
  padding-top: 40px;
  background-image: url(../img/mobile/mobile_bg_header.png), url(../img/mobile/mobile_bg_dots.png);
  height: 460px;
  background-repeat: no-repeat;
  background-position: 56% bottom, 56% bottom;
}
.banner .banner-title {
  width: 247px;
  margin-bottom: 32px;
  margin-right: 12px;
  color: #fcfcfc;
  font-family: "Seymour One";
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}
.banner .banner-title > span {
  font-size: 34px;
  line-height: 0.96;
}
.banner .banner-btn {
  padding: 11px 26px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #f8d24e;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.banner .banner-link {
  color: #f8d24e;
  font-size: 12px;
  font-weight: 600;
  text-decoration-line: underline;
  margin-left: 12px;
}
.banner .banner-text {
  display: none;
}
.banner .banner-food-trucks {
  display: none;
}
.banner .banner-cafes {
  display: none;
}
@media screen and (min-width: 480px) {
  .banner .container {
    height: 302px;
    background-position: 81% bottom, 100% bottom;
  }
}
@media screen and (min-width: 768px) {
  .banner .container {
    height: 386px;
    background-image: url(../img/tablet/bgi_banner.png);
    background-position: bottom;
  }
  .banner .banner-text {
    display: block;
    margin-left: 247px;
    margin-top: 125px;
    width: 200px;
    color: #fff;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
  .banner .banner-food-trucks {
    display: block;
    color: #fcfcfc;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
  }
  .banner .banner-food-trucks::before {
    content: "16";
    display: block;
  }
  .banner .banner-cafes {
    display: block;
    color: #FCFCFC;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
  }
  .banner .banner-cafes::before {
    content: "23";
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .banner .container {
    height: 560px;
    background-image: url(../img/desktop/bgi_banner.png);
    background-position: bottom;
  }
}/*# sourceMappingURL=main.css.map */