html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: Montserrat;
  color: #131313;
  line-height: normal;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.bgc {
  max-width: 1600px;
  background-color: #84A178;
  margin: 0 auto;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.815);
  z-index: 20;
}
.backdrop .modal {
  width: 640px;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}
.backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

#modal-menu {
  background-color: #85A279;
}

.header {
  padding-top: 20px;
  padding-bottom: 15px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-icon {
  fill: #f8d24e;
}

.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header-menu-icon-btn {
  fill: #ffffff;
}

.header-nav {
  display: none;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.button-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-header {
    display: flex;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background: #f8d24e;
    padding: 12px 36px 12px 36px;
  }
  .header-menu-btn {
    margin-right: -451px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
  .header-menu-btn {
    display: none;
  }
  .header-menu-icon {
    width: 60px;
    height: 65px;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
    justify-content: center;
  }
  .header-item {
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
  }
  .header-item:hover {
    color: #f8d24e;
  }
}
.products {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/mobile/product-bg.png);
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.64px;
}
.products .products-img {
  font-size: 30px;
}
.products .products-subtitle {
  color: #131313;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.products .products-title {
  color: #131313;
  text-align: center;
  font-family: "Seymour One";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 148px;
}
.products .products-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 168px;
}
.products .products-item {
  width: 280px;
  margin: 0 auto;
}
.products .products-item img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  position: absolute;
  z-index: 2;
  top: -4px;
  left: 50%;
  margin-top: -103px;
  transform: translate(-50%);
  /* background: linear-gradient(
    0deg,
    rgba(156, 190, 143, 0.7) 0%,
    rgba(156, 190, 143, 0.7) 100%
  ),
  #d9d9d9; */
  /* box-shadow: 0px 19px 0px 0px rgba(248, 210, 78, 0.9),
  0px 8px 30px 0px rgba(10, 136, 23, 0.25); */
}
.products .products-item:nth-of-type(1) .products-wrap-descr img {
  box-shadow: 0px 11px 0px 0px rgba(156, 190, 143, 0.7), 0px 5.413px 20.3px 0px rgba(10, 136, 23, 0.25);
}
.products .products-item:nth-of-type(2) .products-wrap-descr img {
  box-shadow: 0px 11px 0px 0px rgba(248, 210, 78, 0.9), 0px 5.413px 20.3px 0px rgba(153, 114, 23, 0.25);
}
.products .products-item:nth-of-type(3) .products-wrap-descr img {
  box-shadow: 0px 11px 0px 0px rgba(213, 117, 63, 0.7), 0px 5.413px 20.3px 0px rgba(0, 0, 0, 0.25);
}
.products .products-wrap-descr {
  display: block;
  position: relative;
  border-radius: 24px;
  padding: 123px 40px 16px 40px;
}
.products .products-item:nth-of-type(1) .products-wrap-descr {
  background-color: rgb(174, 198, 165);
}
.products .products-item:nth-of-type(2) .products-wrap-descr {
  background-color: rgb(239, 212, 120);
}
.products .products-item:nth-of-type(3) .products-wrap-descr {
  background-color: rgb(214, 147, 109);
}
.products .products-item-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.products .products-item-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.56px;
  margin-bottom: 101px;
}
.products .wrap-icon {
  position: absolute;
  bottom: 16px;
  left: 45%;
  width: 40px;
  height: 16px;
}
@media screen and (min-width: 480px) {
  .products .products-wrap-descr {
    padding: 126px 60px 16px 60px;
    height: 428px;
  }
}
@media screen and (min-width: 768px) {
  .products .products-list {
    flex-direction: row;
    gap: 16px;
  }
  .products .products-item {
    width: 224px;
  }
  .products .products-wrap-descr {
    padding: 126px 26px 16px 26px;
  }
  .products .products-item-title {
    font-size: 22px;
  }
  .products .products-item-text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../img/desktop/cream-ground.jpg);
  }
  .products .products-title {
    margin-bottom: 303px;
  }
  .products .products-list {
    flex-direction: row;
    gap: 29px;
  }
  .products .products-item {
    width: 370px;
  }
  .products .products-wrap-descr {
    padding: 165px 64px 16px 64px;
    height: 536px;
  }
  .products .products-wrap-descr img {
    width: 302px;
    height: 302px;
    top: -78px;
  }
  .products .products-item-title {
    font-size: 30px;
  }
  .products .products-item-text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.64px;
  }
  .products .wrap-icon {
    bottom: 60px;
  }
}

.banner .container {
  padding-top: 90px;
  background-image: url(../img/mobile/mobile_bg_header.png), url(../img/mobile/mobile_bg_dots.png);
  height: 460px;
  background-repeat: no-repeat;
  background-position: 56% bottom, 56% bottom;
}
.banner .banner-title {
  width: 247px;
  margin-bottom: 32px;
  margin-right: 12px;
  color: #fcfcfc;
  font-family: "Seymour One";
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}
.banner .banner-title > span {
  font-size: 34px;
  line-height: 0.96;
}
.banner .banner-btn {
  padding: 11px 26px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #f8d24e;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.banner .banner-link {
  color: #f8d24e;
  font-size: 12px;
  font-weight: 600;
  text-decoration-line: underline;
  margin-left: 12px;
}
.banner .banner-text {
  display: none;
}
.banner .wrap-cafes {
  display: none;
}
.banner .banner-arrow {
  display: none;
}
@media screen and (min-width: 480px) {
  .banner .container {
    height: 302px;
    background-position: 81% bottom, 100% bottom;
  }
}
@media screen and (min-width: 768px) {
  .banner .container {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    height: 350px;
    background-image: url(../img/tablet/bgi_banner.png);
    background-position: bottom;
  }
  .banner .banner-text {
    display: block;
    margin-left: 216px;
    margin-top: 39px;
    width: 200px;
    color: #fff;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
  .banner .wrap-cafes {
    display: block;
  }
  .banner .banner-food-trucks {
    position: absolute;
    top: 40px;
    right: 32px;
    color: #fcfcfc;
    font-size: 8px;
    font-weight: 400;
  }
  .banner .banner-food-trucks::before {
    content: "16";
    display: block;
    color: #131313;
    text-align: right;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.12px;
    text-transform: uppercase;
  }
  .banner .banner-cafes {
    display: block;
    position: absolute;
    top: 100px;
    right: 32px;
    color: #fcfcfc;
    text-align: right;
    font-size: 8px;
    font-weight: 400;
  }
  .banner .banner-cafes::before {
    content: "23";
    display: block;
    color: #131313;
    text-align: right;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.12px;
    text-transform: uppercase;
  }
  .banner .banner-arrow {
    display: block;
    fill: #fcfcfc;
    margin-top: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .banner .container {
    height: 560px;
    background-image: url(../img/desktop/bgi_banner.png);
    background-position: bottom;
  }
  .banner .banner-text {
    margin-left: 243px;
    margin-top: 163px;
  }
  .banner .banner-food-trucks {
    font-size: 14px;
  }
  .banner .banner-food-trucks::before {
    font-size: 46px;
  }
  .banner .banner-cafes {
    font-size: 14px;
  }
  .banner .banner-cafes::before {
    font-size: 46px;
  }
}

.made {
  padding-top: 61px;
  padding-bottom: 64px;
  background: #84a178;
}
.made .made-subtitle {
  color: #fcfcfc;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.made .made-title {
  margin-left: 40px;
  width: 200px;
  margin: 0 auto;
  color: #fcfcfc;
  text-align: center;
  font-family: "Seymour One";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 54px;
}
.made .made-img {
  width: 278px;
  height: 278px;
  border-radius: 50%;
  background-color: #eadddd;
  box-shadow: 0 -22px rgba(248, 210, 78, 0.9), 0px 4.486px 16.822px 0px rgba(153, 114, 23, 0.25);
  margin: 0 auto;
  margin-bottom: 40px;
}
.made .made-wrap-text {
  width: 220px;
  margin: 0 auto;
  color: rgba(252, 252, 252, 0.9568627451);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.62;
}
.made .text-made {
  letter-spacing: 0.48px;
  line-height: 1.76;
  margin-bottom: 4px;
}
.made .paragraph-made {
  margin-bottom: 4px;
}
.made .decription-made {
  margin-bottom: 24px;
}
.made .num-made {
  color: #fcfcfc;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}
.made .par-made {
  width: 230px;
  color: #fcfcfc;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 174%; /* 24.36px */
}
.made .button-made {
  border-radius: 10px;
  background: #f8d24e;
  padding: 12px 51px;
  margin-bottom: 50px;
  border: none;
}
.made .list-made {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.made .made-wrap-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8d24e;
  padding: 7px;
  margin: 0 auto;
}
.made .svg-made {
  border-radius: 25px;
  background: #f8d24e;
}
@media screen and (min-width: 768px) {
  .made .made-title {
    width: auto;
  }
  .made .made-wrap-discription {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-bottom: 60px;
  }
  .made .made-img {
    width: 330px;
    height: 330px;
    margin: 0;
  }
  .made .made-wrap-text {
    text-align: left;
    width: 334px;
    margin: 0;
  }
  .made .list-made {
    flex-direction: row;
    gap: 80px;
    padding: 0 56px;
  }
  .made .made-wrap-icon {
    margin-bottom: 32px;
  }
  .made .num-made {
    margin-bottom: 12px;
  }
  .made .par-made {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .made .made-title {
    width: auto;
  }
  .made .made-wrap-discription {
    display: flex;
    justify-content: start;
    gap: 109px;
    margin-bottom: 60px;
  }
  .made .made-img {
    width: 490px;
    height: 490px;
    margin: 0;
  }
  .made .made-wrap-text {
    width: 463px;
    margin: 0;
    padding-top: 75px;
  }
  .made .text-made {
    font-size: 16px;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
  }
  .made .paragraph-made {
    font-size: 14px;
    line-height: 194%; /* 27.16px */
    letter-spacing: 0.56px;
    margin-bottom: 8px;
  }
  .made .decription-made {
    font-size: 14px;
    line-height: 194%; /* 27.16px */
    letter-spacing: 0.56px;
  }
  .made .list-made {
    flex-direction: row;
    gap: 32px;
    padding: 0 56px;
  }
  .made .made-wrap-icon {
    margin-bottom: 47px;
  }
  .made .num-made {
    margin-bottom: 12px;
  }
  .made .par-made {
    width: auto;
  }
}

.review {
  background-color: #ffd000;
  padding-bottom: 60px;
  background-image: linear-gradient(#84a178 39px, rgba(0, 0, 0, 0)), url("../img/desktop/Bg-icecream.png");
  background-size: cover;
}
.review .img-review {
  width: 280px;
  border-radius: 24px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.review .pic-review {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.review .text-review {
  height: 256px;
  width: 280px;
  color: #fcfcfc;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.55; /* 30.6px */
  border-radius: 10px;
  background-color: #84a178;
  padding: 35px 39px;
  margin: 0 auto;
  margin-bottom: 32px;
  overflow: auto;
}
.review .paragraph-review {
  text-align: center;
  margin-bottom: 30px;
}
.review .splide__pagination__page.is-active {
  background-color: #84A178;
}
.review .splide__arrow--next {
  opacity: 0;
}
.review .splide__arrow--prev {
  opacity: 0;
}
@media screen and (min-width: 480px) {
  .review .img-review {
    width: 440px;
    height: 204px;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .review .text-review .paragraph-review {
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .review {
    padding-bottom: 300px;
  }
  .review .text-review {
    width: 705px;
    height: auto;
    padding: 28px 80px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.56px;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .review {
    padding-bottom: 188px;
  }
  .review .text-review {
    font-size: 16px;
    width: 968px;
    letter-spacing: 0.64px;
    padding: 42px 109px;
  }
}

.location {
  background-color: #84a178;
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 60px;
}
.location .location-item {
  background-color: #fff;
  margin: 0 auto;
  border-radius: 24px;
  padding: 44px 36px 24px 32px;
  width: 280px;
}
.location .title-location {
  color: #131313;
  text-align: center;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #f8d24e;
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 20px;
}
.location .location-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.location .city-location {
  color: #131313;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  margin-bottom: 8px;
}
.location .addrese-location {
  color: #d6936d;
  line-height: 183%; /* 21.96px */
  letter-spacing: 0.48px;
}
.location .location-line {
  margin-bottom: 24px;
  margin-top: 24px;
}
.location .day-location {
  color: #131313;
  line-height: 186%; /* 22.32px */
}
.location .time-location {
  color: #ababab;
  line-height: 186%; /* 22.32px */
  margin-bottom: 8px;
  display: inline-block;
}
.location .time-location:last-child {
  margin: 0;
}
.location .link-location {
  color: #131313;
  line-height: 160%; /* 19.2px */
  margin-bottom: 6px;
  display: inline-block;
}
.location .button-wrap-location {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.location .button-location {
  width: 196px;
  background-color: #f8d24e;
  color: #131313;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
}
.location .button-location:hover {
  background-color: #0a8817;
}
.location .button-location:focus {
  color: #fff;
  background-color: #0a8817;
  outline: none;
}
.location .button-location:disabled {
  background-color: #ababab;
}
.location .btn-location {
  width: 196px;
  background-color: transparent;
  color: #000;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #f8d24e;
}
.location .btn-location:hover {
  border: 2px solid #0a8817;
}
.location .btn-location:focus {
  color: #fff;
  border: 2px solid #0a8817;
}
.location .btn-location:disabled {
  border: 2px solid #ababab;
}
@media screen and (min-width: 768px) {
  .location {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 43%, #84a178 43%);
    margin-top: -251px;
  }
  .location .location-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 40px;
  }
  .location .button-wrap-location {
    gap: 16px;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .location {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 18%, #84a178 18%);
    margin-top: -110px;
  }
  .location .location-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 60px;
  }
  .location .button-wrap-location {
    gap: 16px;
  }
}

.footer {
  background: #84a178;
}
.footer .subtitle-footer {
  width: 232px;
  color: #fcfcfc;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer .title-footer {
  width: 200px;
  color: #fcfcfc;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.footer .icon-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
  fill: #84a178;
  margin-bottom: 20px;
}
.footer .icon-item {
  border-radius: 50%;
  background-color: #f8d24e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}
.footer .icon-item a {
  display: flex;
}
.footer .icon-item:hover .svg-icon {
  fill: #fcfcfc;
}
.footer .contact-footer {
  color: #131313;
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
  margin-right: 4px;
}
.footer .link-footer {
  color: #fcfcfc;
  font-size: 12px;
  font-weight: 700;
  line-height: 186%;
}
.footer .feel-free {
  display: flex;
  justify-content: flex-end;
}
.footer .rights {
  margin-top: 40px;
}
.footer .text-footer {
  width: 150px;
  color: #7a7a7a;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
  margin: 0 auto;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .footer .subtitle-footer {
    width: 352px;
    font-size: 26px;
    letter-spacing: 1.04px;
  }
  .footer .title-footer {
    width: 352px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2.88px;
    margin: 0;
  }
  .footer .wrap-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .icon-list {
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer .wrap-contact {
    align-self: flex-end;
  }
  .footer .text-footer {
    line-height: 1.86;
    letter-spacing: 0.28px;
    width: 298px;
    padding: 12px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer .subtitle-footer {
    width: 504px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 0;
  }
  .footer .title-footer {
    width: 500px;
    font-size: 58px;
    letter-spacing: 3.48px;
  }
  .footer .text-footer {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.backdrop-item {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}

.backdrop-button {
  width: 152px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F8D24E;
  text-align: center;
}/*# sourceMappingURL=main.css.map */