.banner {
margin-top: 50px;


    .banner-title {
        background-image: url(../img/mobile/mobile_bg_header.png), url(../img/mobile/mobile_bg_dots.png);
        padding-top: 40px;
        height: 586px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; 
    }
    .animate__animated {
    }
    .animate__zoomInUp {
    }
    .banner-btn {
    }
    .banner-link {
    }
    .banner-span {
    }
    .banner-text {
    }

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
