.banner {
  .container {
    margin-top: 50px;
    padding-top: 40px;
    background-image: url(../img/mobile/mobile_bg_header.png),
      url(../img/mobile/mobile_bg_dots.png);

    height: 460px;
    background-repeat: no-repeat;
    background-position: 56% bottom, 56% bottom;
  }
  .banner-title {
    width: 247px;
    margin-bottom: 32px;
    margin-right: 12px;

    color: #fcfcfc;
    font-family: "Seymour One";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.04px;
    text-transform: uppercase;
  }
  .animate__animated {
  }
  .animate__zoomInUp {
  }
  .banner-title > span {
    font-size: 34px;
    line-height: 0.96;
  }
  .banner-btn {
    padding: 11px 26px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #f8d24e;

    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }
  .banner-link {
    // display: flex;
    color: #f8d24e;
    font-size: 12px;
    font-weight: 600;
    text-decoration-line: underline;
    margin-left: 12px;
  }
  .banner-span {
  }
  .banner-text {
    display: none;
  }

  .wrap-cafes {
    display: none;
    // position: relative;
  }
  .banner-arrow{
    display: none;
  }

  .banner-num {
    // position: obsolute;
  }

  .banner-food-trucks {
    // display: none;
  }
  .banner-cafes {
    // display: none;
  }
  @media screen and (min-width: 480px) {
    .container {
      height: 302px;
      background-position: 81% bottom, 100% bottom;
      // background-color: red;
    }
  }
  // ======================= tablet ========================
  @media screen and (min-width: 768px) {
    .container {
      position: relative;
      margin-top: 0;
      padding-top: 0;
      height: 350px;
      background-image: url(../img/tablet/bgi_banner.png);
      background-position: bottom;
    }
    .banner-text {
      display: block;
      margin-left: 216px;
      margin-top: 39px;
      width: 200px;

      color: #fff;
      font-family: "DM Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
    }

    .wrap-cafes {
      display: block;
      // position: relative;
    }

    .banner-food-trucks {
      position: absolute;
      top: 40px;
      right: 32px;
      color: #fcfcfc;
      font-size: 8px;
      font-weight: 400;
    }
    .banner-food-trucks::before {
      content: "16";
      display: block;

      color: #131313;
      text-align: right;
      font-size: 28px;
      font-weight: 900;
      letter-spacing: 1.12px;
      text-transform: uppercase;
    }
    .banner-cafes {
      display: block;
      position: absolute;
      top: 100px;
      right: 32px;
      color: #fcfcfc;
      text-align: right;
      font-size: 8px;
      font-weight: 400;
    }
    .banner-cafes::before {
      content: "23";
      display: block;

      color: #131313;
      text-align: right;
      font-size: 28px;
      font-weight: 900;
      letter-spacing: 1.12px;
      text-transform: uppercase;
    }
    .banner-arrow{
      display: block;
      fill: #fcfcfc;
      margin-top: 29px;
    }
  }
  // ======================= desktop ========================
  @media screen and (min-width: 1200px) {
    .container {
      height: 560px;
      // background-color: rgb(118, 224, 37);
      background-image: url(../img/desktop/bgi_banner.png);
      background-position: bottom;
    }

    .banner-text{
      margin-left: 243px;
      margin-top: 163px;
    }
    .banner-food-trucks{
      font-size: 14px;
    }
    .banner-food-trucks::before {
      font-size: 46px;
    }

    .banner-cafes{
      font-size: 14px;
    }
    .banner-cafes::before {
      font-size: 46px;
    }
  }
}
