.location {
  background-color: #84a178;
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 60px;
  // background-image: linear-gradient(rgba(0, 0, 0, 0) 18%, #84a178 18%);
  // margin-top: -110px;

  .location-item {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 24px;
    padding: 44px 36px 24px 32px;
    width: 280px;
  }

  .title-location {
    color: #131313;
    text-align: center;

    line-height: 120%; /* 14.4px */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #f8d24e;
    display: inline-block;
    padding: 4px 22px;
    margin-bottom: 20px;
  }

  .location-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  .city-location {
    color: #131313;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
    margin-bottom: 8px;
  }

  .addrese-location {
    color: #d6936d;
    line-height: 183%; /* 21.96px */
    letter-spacing: 0.48px;
    // margin-bottom: 24px;
    // display: inline-block;
  }

  .location-line {
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .day-location {
    color: #131313;
    line-height: 186%; /* 22.32px */
  }

  .time-location {
    color: #ababab;
    line-height: 186%; /* 22.32px */
    margin-bottom: 8px;
    display: inline-block;
  }

  .time-location:last-child {
    margin: 0;
  }

  .link-location {
    color: #131313;

    line-height: 160%; /* 19.2px */
    margin-bottom: 6px;
    display: inline-block;
  }

  .button-wrap-location {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.button-location {
  width: 196px;
  background-color: #f8d24e;
  color: #131313;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  margin-bottom: 16px;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #fff;
    background-color: #0a8817;
    outline: none;
  }
  &:disabled {
    background-color: #ababab;
  }
}

.btn-location {
  width: 196px;
  background-color: transparent;
  color: #000;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #f8d24e;
  &:hover {
    border: 2px solid #0a8817;
  }
  &:focus {
    color: #fff;
    border: 2px solid #0a8817;
  }
  &:disabled {
    border: 2px solid #ababab;
  }
}

@media screen and (min-width: 768px) {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 43%, #84a178 43%);
  margin-top: -251px;



  .location-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 40px;
  }

  .button-wrap-location {
    gap: 16px;
  }
}

@media screen and (min-width: 1200px) {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 18%, #84a178 18%);
  margin-top: -110px;
  .location-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 60px;
  }

  .button-wrap-location {
    gap: 16px;
  }
}
}