.made{
    background: #84A178;
}

.made-subtitle{
    color: #FCFCFC;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.made-title{
    color: #FCFCFC;
text-align: center;
font-family: "Seymour One";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}

.text-made{
    color: #FCFCFC;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 176%; /* 21.12px */
    letter-spacing: 0.48px;
}

.paragraph-made{
    color: #FCFCFC;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 176%; /* 21.12px */
    letter-spacing: 0.48px;
}

.list-made{
    display: flex;
}

.item-made{

}

.num-made{
    color: #FCFCFC;
text-align: center;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.92px;
text-transform: uppercase;
}

.par-made{
    color: #FCFCFC;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 174%; /* 24.36px */
}

.paragraph-made{
    margin-bottom: 24px;

}

.button-made{
    border-radius: 10px;
background: #F8D24E;
padding: 12px 51px;
margin-bottom: 50px;
}

.svg-made{
    border-radius: 25px;
background: #F8D24E;
}