.made {
  padding-top: 61px;
  padding-bottom: 64px;
  background: #84a178;

  .made-subtitle {
    color: #fcfcfc;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .made-title {
    margin-left: 40px;
    width: 200px;
    margin: 0 auto;
    color: #fcfcfc;
    text-align: center;
    font-family: "Seymour One";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 54px;
  }

  .made-img {
    width: 278px;
    height: 278px;
    border-radius: 50%;
    background-color: #eadddd;
    box-shadow: 0 -22px rgba(248, 210, 78, 0.9),
      0px 4.486px 16.822px 0px rgba(153, 114, 23, 0.25);
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .made-wrap-text {
    width: 220px;
    margin: 0 auto;
    color: #fcfcfcf4;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.62;
    // padding-left: 30px;
    // padding-right: 30px;
  }

  .text-made {
    letter-spacing: 0.48px;
    line-height: 1.76;
    margin-bottom: 4px;
  }

  .paragraph-made {
    margin-bottom: 4px;
  }

  .decription-made {
    margin-bottom: 24px;
  }

  .item-made {
  }

  .num-made {
    color: #fcfcfc;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
  }

  .par-made {
    width: 230px;
    color: #fcfcfc;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 174%; /* 24.36px */
  }

  .button-made {
    border-radius: 10px;
    background: #f8d24e;
    padding: 12px 51px;
    margin-bottom: 50px;
    border: none;
  }

  .list-made {
    display: flex;
    flex-direction: column;
    // justify-content:center;
    align-items: center;
    gap: 25px;
  }

  .made-wrap-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8d24e;

    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    padding: 7px;
    margin: 0 auto;
  }
  .svg-made {
    border-radius: 25px;
    background: #f8d24e;
  }

  @media screen and (min-width: 768px) {

    .made {
    }
    .container {
    }
    .made-subtitle {
    }
    .made-title {
      width: auto;
    }
    .made-wrap-discription {
      display: flex;
      justify-content: center;
      gap: 38px;
      margin-bottom: 60px;
    }
    .made-img {
      width: 330px;
      height: 330px;
      margin: 0;
    }
    .made-wrap-text {
      width: 334px;
      margin: 0;
    }
    .text-made {
    }
    .paragraph-made {
    }
    .decription-made {
    }
    .button-made {
    }
    .svg-made {
    }
    .list-made {
      flex-direction: row;
      gap: 80px;
      padding: 0 56px;
    }
    .item-made {
    }
    .made-wrap-icon {
      margin-bottom: 32px;
    }
    .num-made {
      margin-bottom: 12px;
    }
    .par-made {
      width: auto;
    }

  }
  @media screen and (min-width: 1200px) {
  
    .made {
    }
    .container {
    }
    .made-subtitle {
    }
    .made-title {
      width: auto;
    }
    .made-wrap-discription {
      display: flex;
      justify-content: center;
      gap: 109px;
      margin-bottom: 60px;
    }
    .made-img {
      width: 490px;
      height: 490px;
      margin: 0;
    }
    .made-wrap-text {
      width: 463px;
      margin: 0;
    }
    .text-made {
    }
    .paragraph-made {
    }
    .decription-made {
    }
    .button-made {
    }
    .svg-made {
    }
    .list-made {
      flex-direction: row;
      gap: 32px;
      padding: 0 56px;
    }
    .item-made {
    }
    .made-wrap-icon {
      margin-bottom: 47px;
    }
    .num-made {
      margin-bottom: 12px;
    }
    .par-made {
      width: auto;
    }
  
  }
}
