.products{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 25px;
    padding-bottom: 100px;
}

.products-bg{
    background-image: url(../img/cream-ground.jpg);

}