html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: currentColor;
}
body{
  font-family: Montserrat;
  color: #131313;
  line-height: normal;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
padding-right: 16px;
}


/* ==================header================= */

.header{
  background-color: #84A178;
 
  display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 8px;
 padding-bottom: 5px;
}


.header-nav{
  /* background-color: #84A178; */
}

.header-list{
  display: flex;
  justify-content: center;
  gap: 28px;
}

.header-item{
color: #FCFCFC;
font-size: 16px;
font-weight: 700;
}

.header-item:hover{
  color: #F8D24E;

}

.button-header{
  color: #000;
text-align: center;
font-size: 14px;
font-weight: 600;
border-radius: 10px;
background: #F8D24E;
padding: 12px 51px 12px 36px;
}

/* ======================banner========================== */

.banner{
  background-color: #84A178;
  background-image: url(img/bg.png);
  padding-top: 40px;
  height: 586px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
 
}

.banner-title{
  color: #ffffff;
font-family: Seymour One;
font-size: 38px;
font-weight: 400;
letter-spacing: 1.52px;
text-transform: uppercase;
width: 367px;
margin-bottom: 28px;
}

.banner-btn{
  color: #000000;
text-align: center;
font-size: 14px;
font-weight: 600;
line-height:1.28;
padding: 12px 34px;
border-radius: 10px;
border: 2px solid #F8D24E;
background-color: transparent;
margin-right: 34px;
}

.banner-link{
  color: #F8D24E;
font-size: 14px;
font-weight: 600;
text-decoration-line: underline;
}

.banner-span{
  color: #000000;
font-size: 14px;
font-weight: 400;
text-align: right;
position:absolute;
right: 16px;
top: 0;
/* top: 111px; */

}
.banner-span:nth-of-type(1){}
.banner-span:nth-of-type(1)::before{
  content:"16";
  display: block;
text-align: right;
font-size: 46px;
font-weight: 900;
letter-spacing: 1.84px;
text-transform: uppercase;
margin-top: 51px;
margin-bottom: 4px;
}

.banner-span:nth-of-type(2)::before{
  content:"32";
  display: block;
text-align: right;
font-size: 46px;
font-weight: 900;
letter-spacing: 1.84px;
text-transform: uppercase;
margin-top: 144px;
margin-bottom: 4px;
}

.banner-text{
font-weight: 400;
line-height: 1.4; 
color: #FFF;
font-family: "DM Sans";
font-size: 14px;
}

/* ====================products================== */

.products{
  background-image: url(img/cream-ground.jpg);
  padding-top: 60px;
}

.products-subtitle{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.products-title{
text-align: center;
font-family: Seymour One;
font-size: 36px; 
font-weight: 400;
letter-spacing: 2.16px;
text-transform: uppercase;
margin-bottom: 120px;
}

.products-list{
display: flex;
justify-content: center;
column-gap: 40px;

}

.products-item{
width: 370px;
}
.products-item img{
  border-radius: 302px; 
  position: absolute;
  z-index: 2;
  top: -4px;
  left: 35px;
  margin-top: -183px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7) 0%,
      rgba(156, 190, 143, 0.7) 100%
    ),
    #d9d9d9;
  box-shadow: 0px 19px 0px 0px rgba(248, 210, 78, 0.9),
    0px 8px 30px 0px rgba(10, 136, 23, 0.25);
}

.products-item:nth-of-type(1) .products-wrap-descr img {
  box-shadow: 0px 19px 0px 0px rgba(156, 190, 143, 0.7),
    0px 8px 30px 0px rgba(10, 136, 23, 0.25);
  /* background-color: rgba(156, 190, 143, 0.7); */
}
.products-item:nth-of-type(2) .products-wrap-descr img {
  box-shadow: 0px 19px 0px 0px rgba(248, 210, 78, 0.9),
    0px 8px 30px 0px rgba(153, 114, 23, 0.25);
  /* background-color: rgba(248, 210, 78, 0.7); */
}
.products-item:nth-of-type(3) .products-wrap-descr img {
  box-shadow: 0px 19px 0px 0px rgba(213, 117, 63, 0.7),
    0px 8px 30px 0px rgba(0, 0, 0, 0.25);
  /* background-color: rgba(213, 117, 63, 0.7); */
}

.products-wrap-descr{
 
  /* height: 320px; */
  background:rgba(156, 190, 143);
  border-radius: 302px;
  position: relative;
 display: inline-block;
 box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
}

.products-img-shadow:nth-child(1){
  background:rgba(156, 190, 143);
}

.products-img-shadow:nth-child(2){
  background:rgba(248, 210, 78);
}

.products-img-shadow:nth-child(3){
  background:rgba(213, 117, 63);
}

.products-img-shadow>img{
 /* box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25); */
  border-radius: 50%;

}

.products-item-title{
text-align: center;
font-size: 30px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}

.products-item-text{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 176%; /* 28.16px */
  letter-spacing: 0.64px;
}

/* ===================made================== */

.made{
  background-color:  #84A178;;
  padding-top: 60px;
}

.made-wrap-discription{
  display: flex;
  justify-content: center;
  gap: 109px;
}

.made-subtitle{
text-align: center;
font-size: 30px;
font-weight: 800;
letter-spacing: 1.2px;
text-transform: uppercase;
color: #FCFCFC;
}

.made-title{
color: #FCFCFC;
text-align: center;
font-family: "Seymour One";
font-size: 36px;
font-weight: 400;
letter-spacing: 2.16px;
text-transform: uppercase;
margin-top: 16px;
margin-bottom: 82px;
}

.made-img-shadow{
  height: 320px;
  background:#F8D24EB2(156, 190, 143);
  border-radius: 302px;
  position: relative;
 display: inline-block;
 box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
}

.text-made{
  color: #FCFCFC;
font-size: 16px;
font-weight: 400;
line-height: 1.76; 
letter-spacing: 0.64px;
margin-top: 90px;
margin-bottom: 8px;

}

.paragraph-made{
  color: #FCFCFC;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.94;
  letter-spacing: 0.56px;
  margin-bottom: 54px;
}

.button-made{
  color: #000;
text-align: center;
font-size: 14px;
font-weight: 600;
line-height: 18px; /* 128.571% */
background-color: #F8D24E;
border-radius: 10px;
padding: 12px 34px;
border: none;
}

.list-made{
  display: flex;
  justify-content: center;
}

.num-made{
  color: #FCFCFC;
text-align: center;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.32px;
text-transform: uppercase;
}

.par-made{
  color: #fcfcfc;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 176%; /* 28.16px */
letter-spacing: 0.32px;
margin-bottom: 178px;
padding-right: 16px;
padding-left: 32px;
}



/* ====================review=================== */

.img-review{
  margin: 0 auto;
}

.pic-review{
  margin: 0 auto;
border-radius: 50px;
}

.text-review{
  color: #FCFCFC;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
}

.paragraph-review{
  color: #131313;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 186%; /* 29.76px */
}

/* ==================location===================*/

.title-location{
  color: #131313;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 140%; /* 22.4px */
letter-spacing: 0.64px;
}

.city-location{
  color: #131313;
font-size: 16px;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
}

.addrese-location{
  color: #D6936D;
font-size: 16px;
font-weight: 500;
line-height: 183%; /* 29.28px */
letter-spacing: 0.64px;
}

.day-location{
  color: #131313;
font-size: 16px;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
}

.time-location{
  color: #ABABAB;
font-size: 16px;
font-weight: 500;
line-height: 186%; /* 29.76px */
}

.link-location{
  color: #131313;
font-size: 16px;
font-weight: 500;
line-height: 150%; /* 24px */
}

.button-location{
  color: #131313;
text-align: center;
font-size: 14px;
font-weight: 600;
line-height: 18px; /* 128.571% */
background-color: #F8D24E;
border-radius: 10px;
}

.btn-location{
  color: #000;
text-align: center;
font-size: 14px;
font-weight: 600;
line-height: 18px; /* 128.571% */
border-color: #F8D24E;
border-radius: 10px;
}

/* ==================footer====================== */

.subtitle-footer{
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.title-footer{
  color: #000000;
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}

.link-location{
  color: #131313;
font-size: 16px;
font-weight: 700;
line-height: 1.86;
letter-spacing: 0.32px;
}

.text-footer{
  color: #7A7A7A;
font-size: 12px;
font-weight: 700;
line-height: 1.86%; 
letter-spacing: 0.24px;
}