

html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
a:-webkit-any-link {
  cursor: url(img/cursor.svg) 4 12, auto;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  font-family: Montserrat;
  color: #131313;
  line-height: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* ==================header================= */
.header {
  background-color: #84a178;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 5px;
}

.header-nav {
  /* background-color: #84A178; */
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 28px;

}

.header-item {
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 700;
  transition-duration:  5s;
  transition-property:transporm, color;
}

.header-item:hover .header-link{
  color: #f8d24e;
  
}

.header-item:hover{
  transform: scale(1.25);

}


.button-header {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  background: #f8d24e;
  padding: 12px 51px 12px 36px;
  transition-property:transporm, color;
}
.button-header:hover .button-link{
color: #84a178;
}

.button-header:hover{
  transform: scale(1.30);
}

/* ======================banner========================== */

.banner {
  background-color: #84a178;
  background-image: url(img/bg.png);
  padding-top: 40px;
  height: 586px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.banner > .container {
  position: relative;
}

.banner-title {
  color: #ffffff;
  font-family: Seymour One;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 1.52px;
  text-transform: uppercase;
  width: 367px;
  margin-bottom: 28px;
}



.banner-btn {
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  padding: 12px 34px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background-color: transparent;
  margin-right: 34px;
}

.banner-link {
  color: #f8d24e;
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: underline;
}

.banner-span {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  position: absolute;
  right: 16px;
  top: 0;
  /* top: 111px; */
}
.banner-span:nth-of-type(1) {
}
.banner-span:nth-of-type(1)::before {
  content: "16";
  display: block;
  text-align: right;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: 1.84px;
  text-transform: uppercase;
  margin-top: 51px;
  margin-bottom: 4px;
}

.banner-span:nth-of-type(2)::before {
  content: "32";
  display: block;
  text-align: right;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: 1.84px;
  text-transform: uppercase;
  margin-top: 144px;
  margin-bottom: 4px;
}

.banner-text {
  width: 200px;
  margin-top: 135px;
  margin-left: 290px;

  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  font-family: "DM Sans";
  font-size: 14px;
}

/* ====================products================== */

.products {
  background-image: url(img/cream-ground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 25px;
  padding-bottom: 100px;
}

.products-subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.products-title {
  text-align: center;
  font-family: Seymour One;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  margin-bottom: 303px;
}

.products-list {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.products-item {
  width: 370px;
}
.products-item img {
  border-radius: 302px;
  position: absolute;
  z-index: 2;
  top: -4px;
  left: 35px;
  margin-top: -183px;
  /* background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7) 0%,
      rgba(156, 190, 143, 0.7) 100%
    ),
    #d9d9d9; */
  /* box-shadow: 0px 19px 0px 0px rgba(248, 210, 78, 0.9),
    0px 8px 30px 0px rgba(10, 136, 23, 0.25); */
}

.products-item:nth-of-type(1) .products-wrap-descr img {
  box-shadow: 0px 19px 0px 0px rgba(156, 190, 143, 0.7),
    0px 38px 30px 0px rgba(10, 136, 23, 0.25);
}
.products-item:nth-of-type(2) .products-wrap-descr img {
  box-shadow: 0px 19px 0px 0px rgba(248, 210, 78, 0.9),
    0px 38px 30px 0px rgba(153, 114, 23, 0.25);
}
.products-item:nth-of-type(3) .products-wrap-descr img {
  box-shadow: 0px 19px 0px 0px rgba(213, 117, 63, 0.7),
    0px 38px 30px 0px rgba(0, 0, 0, 0.25);
}

.products-wrap-descr {
  display: inline-block;
  position: relative;

  height: 536px;
  border-radius: 24px;
  padding: 165px 64px 60px 64px;
}

.products-item:nth-of-type(1) .products-wrap-descr {
  background-color: rgb(174, 198, 165);
}

.products-item:nth-of-type(2) .products-wrap-descr {
  background-color: rgb(239, 212, 120);
}

.products-item:nth-of-type(3) .products-wrap-descr {
  background-color: rgb(214, 147, 109);
}

.products-item-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  margin-bottom: 66px;
}

.products-item-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 176%; /* 28.16px */
  letter-spacing: 0.64px;
  margin-bottom: 50px;
}

.wrap-icon {
  position: absolute;

  bottom: 60px;
  left: 45%;
  width: 40px;
  height: 16px;
}

.products-item-icon {
}

/* ===================made================== */

.made {
  background-color: #84a178;
  padding-top: 60px;
}

.made-wrap-discription {
  display: flex;
  justify-content: center;
  gap: 109px;
}

.made-subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fcfcfc;
}

.made-title {
  color: #fcfcfc;
  text-align: center;
  font-family: "Seymour One";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 82px;
}

.made-img-shadow {
  height: 320px;
  background: #F8D24EB2(156, 190, 143);
  border-radius: 302px;
  position: relative;
  display: inline-block;
  box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
}

.text-made {
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.64px;
  margin-top: 90px;
  margin-bottom: 8px;
}

.paragraph-made {
  color: #fcfcfc;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.94;
  letter-spacing: 0.56px;
  margin-bottom: 54px;
}

.button-made {
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  background-color: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  border: none;
  /* margin-bottom: -1px; */
  margin-left: 4px;
}
.button-made svg {
  margin-left: 4px;
}

.list-made {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.made-wrap-icon {
  width: 50px;
  height: 50px;
  padding: 7px;
  margin: 0 auto;

  border-radius: 25px;
  background-color: #f8d24e;
  margin-bottom: 40px;
}
.made-wrap-icon:hover,
.made-wrap-icon:hover svg {
  fill: #f8d24e;
  background-color: darkslategrey;
}

.num-made {
  color: #fcfcfc;
  text-align: center;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.32px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.par-made {
  color: #fcfcfc;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 176%; /* 28.16px */
  letter-spacing: 0.32px;
  margin-bottom: 178px;
  padding-right: 16px;
  padding-left: 32px;
}

/* ====================review=================== */
.review {
  position: relative;
  background-image: url(img/cream-ground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1055px;
}
.img-review {
  /* margin: 0 auto; */
  position: absolute;
  /* top: -100px; */
  /* left: 395px; */
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-review {
}

.item-review {
}

.pic-review {
  border-radius: 50px;
  margin: 0 auto;
}

.text-review {
  width: 968px;
  margin: 0 auto;
  color: #fcfcfc;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.64px;
  border-radius: 24px;
  background-color: #84a178;
  padding: 43px 109px;
  margin-bottom: 32px;
}

.paragraph-review {
  color: #131313;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86;
  margin-bottom: 272px;
}
/* styles slider======================= */

.splide__pagination {
  bottom: 15.45em;
}
.splide__slide {
  margin-top: 438px;
}

.splide__pagination__page.is-active {
  background-color: rgba(132, 161, 120, 1);
}

.splide__arrows {
  visibility: hidden;
}
.splide__pagination__page {
  background-color: rgba(217, 217, 217, 1);
}
/* ==================location===================*/

.location {
  background-color: #84a178;
  padding-bottom: 60px;
}

.location-list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 60px;
  margin-top: -128px;
}
.location-item {
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 44px 40px 40px 40px;
  flex-basis: calc((100% - 3 * 32px) / 3);
}

.title-location {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.64px;
  padding: 4px 14px;
  border-radius: 6px;
  background: #f8d24e;
  margin-bottom: 32px;
  display: inline-block;
}

.city-location {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%; /* 29.76px */
  letter-spacing: 0.64px;
  margin-bottom: 8px;
}

.addrese-location {
  color: #d6936d;
  font-size: 16px;
  font-weight: 500;
  line-height: 183%; /* 29.28px */
  letter-spacing: 0.64px;
  margin-bottom: 32px;
  display: block;
}

.location-line {
  margin-bottom: 32px;
  margin-top: 32px;
  height: 2px;
  background-color: #e1e1e1;
}
.day-location {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%; /* 29.76px */
  letter-spacing: 0.64px;
}

.time-location {
  color: #ababab;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86; /* 29.76px */
  margin-bottom: 12px;
  display: block;
}

.time-location:nth-child(2) {
  margin-bottom: 0;
}

.link-location {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 24px */
}

.button-wrap-location {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.button-location {
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  background-color: #f8d24e;
  padding: 12px 40px;
  border-radius: 10px;
  border: transparent;
}
.button-location:hover {
  color: #000;
  background-color: #0a8817;
}
.button-location:focus {
  color: #fff;
  outline: transparent;
  background-color: #0a8817;
}

.btn-location {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: transparent;
  padding: 12px 55px;
  /* appearance: auto; */
}
.btn-location:hover {
  border-color: #0a8817;
}
.btn-location:focus {
  border-color: #0a8817;
  color: #fff;
  outline: none;
}

/* ==================footer====================== */
.footer {
  background-color: #84a178;
  padding-top: 60px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}
.wrap-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.subtitle-footer {
  color: #fcfcfc;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.title-footer {
  color: #fcfcfc;
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}

.wrap-contact {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.32px;
}

/* .link-footer {
  color: #fff;
} */
.icon-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;
  justify-content: flex-end;
  column-gap: 30px;
}
.icon-item {
  background-color: #f8d24e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-item > a {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 12px;
  border-radius: 50%; */
}
.svg-icon {
  fill: #84a178;
}

.contact-footer {
  display: inline-block;
  color: #131313;
}

.line-footer {
  border-color: #e1e1e1;
  padding: 0 16px;
  margin-top: 60px;
  /* margin-bottom: 12px; */
}

.text-footer {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.86%;
  letter-spacing: 0.24px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
}

