.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.815);
  z-index: 20;
  & .modal {
    // padding: 12px 20px 12px 34px;
    width: 90%;
    min-width: 280px;
    max-width: 568px;
    // height: 100%;
    background-color: #fff;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
      width: 80%;
    }
    @media screen and (min-width: 768px) {
      width: 60%;
    }
    @media screen and (min-width: 1200px) {
      width: 48%;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  .modal-close-btn {
    background-color: transparent;
    border: none;
  }
}
